
# No data needs to be pushed
/data*/

# No runs need be pushed
/run*/

# No need for test_runs
/test_run*/

# No need for PDBs or PDBQTs
*.pdb
*.pdbqt

# Sublime projects
*.sublime-project

# Sublime workspaces
*.sublime-workspace

# Images
*.png

# Saved numpy objects
*.npy

# Don't need to track server jobs
*.sh

# Don't need _pycache_ folder
__pycache__/**

# or pycache files
#*.pyc
